---
http_interactions:
- request:
    method: get
    uri: https://app.asana.com/api/1.0/projects?archived=false&workspace=1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ASANA_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Asana-Api-Version:
      - '1.1'
      Asana-Change:
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=goal_sals_api;info=https://go.asana.com/doesnt-exist-yet
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Not Authorized","help":"For more information
        on API status codes and how to handle them, read the docs on errors: https://developers.asana.com/docs/errors"}]}'
  recorded_at: Tue, 30 Sep 2025 10:32:56 GMT
- request:
    method: post
    uri: https://app.asana.com/-/oauth_token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&client_id=<ASANA_CLIENT_ID>&client_secret=<ASANA_CLIENT_SECRET>&refresh_token=test_refresh_token
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Asana-Content-String-Length:
      - '207'
      X-Asana-Wsm-Rid:
      - 33Pp6Y3yEgDMBArNCQ9AxCo0vJE
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_uri":"https:\u002F\u002Fasana.com\u002Fdevelopers\u002Fdocumentation\u002Fgetting-started\u002Fauthentication","error_description":"The
        `refresh_token` provided was invalid."}'
  recorded_at: Tue, 30 Sep 2025 10:32:57 GMT
recorded_with: VCR 6.3.1
