---
http_interactions:
- request:
    method: post
    uri: https://app.asana.com/-/oauth_token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&client_id=<ASANA_CLIENT_ID>&client_secret=<ASANA_CLIENT_SECRET>&refresh_token=valid_refresh_token
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Asana-Content-String-Length:
      - '207'
      X-Asana-Wsm-Rid:
      - 33Pp79bFf0aAkXYAynLLeIkjdRI
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_uri":"https:\u002F\u002Fasana.com\u002Fdevelopers\u002Fdocumentation\u002Fgetting-started\u002Fauthentication","error_description":"The
        `refresh_token` provided was invalid."}'
  recorded_at: Tue, 30 Sep 2025 10:33:02 GMT
recorded_with: VCR 6.3.1
